*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.container .container-child {
    width: 100px;
    height:100px;
    background-color: aqua;
    color: white;
   text-align: center;
   line-height: 100px;
    
}